output "HDMI-A-1" {
    mode "1920x1080@100"
    scale 1.0
    transform "normal"
    position x=1280 y=0
    //variable-refresh-rate // on-demand=true
    focus-at-startup
    backdrop-color "#001100"
    // max-bpc 8

    hot-corners {
        // off
        top-left
        // top-right
        // bottom-left
        // bottom-right
    }

    layout {
        // ...layout settings for ...
    }
}

