cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
    hide-when-typing
    hide-after-inactive-ms 1000
}

overview {
    zoom 0.9
    backdrop-color "#003300"
    workspace-shadow {
        off
        //softness 20
        //spread 10
        //offset x=0 y=10
        //color "#00000050"
    }
}

xwayland-satellite {
    path "xwayland-satellite"
}

input {
    keyboard {
        xkb {
             layout "us"
        }
	repeat-delay 250
	repeat-rate 25
    }

    mouse {  
         accel-speed 0.5
         accel-profile "flat"
         scroll-method "no-scroll"
    }
}



layout {
	gaps 8
	center-focused-column "never"
	always-center-single-column
	//empty-workspace-above-first
    border {
        width 0
        active-color "#000000"
        inactive-color "#000000"
    }

    focus-ring {
        width 1
        active-color "#89b4fa"
    }
}

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    // skip-at-startup
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

include "config/startups.kdl"
include "config/windowrules.kdl"
include "config/animations.kdl"
include "config/monitors.kdl"
include "config/binds.kdl"
