* {
    font-family: "CaskaydiaCove Nerd Font Mono";
    font-size: 14px;
}

window {
    border-radius: 8px;
    background-color: rgba(30, 30, 46, 0.90);
    border: none;
}

#input {
    margin: 12px;
    padding: 12px;
    border-radius: 6px;
    background-color: #313244;
    color: #cdd6f4;
}

#inner-box {
    margin: 4px;
}

#entry {
    padding: 12px;
    border-radius: 6px;
    color: #cdd6f4;
}

#entry:selected {
    background-color: #89b4fa;
    color: #1e1e2e;
}

#text {
    margin-left: 8px;
}
